In [2]:
from dotenv import load_dotenv
import pandas as pd
import json
import os

In [3]:
load_dotenv()

True

In [4]:
directory = os.getcwd()

os.chdir(directory)

In [5]:
hdb_centroid_pair_df = pd.read_csv(r"../../data/Cluster_data/HDB_Centroid_MRT pairing data.csv")
private_centroid_pair_df = pd.read_csv(r"../../data/Cluster_data/Private_Centroid_MRT pairing data.csv")

# with open(r'../../data/Cluster_data/HDB_MRT_cycle_routes.json', 'r') as f:
#     hdb_centroid_pair_route = json.load(f)

# hdb_centroid_pair_df['route'] = hdb_centroid_pair_route

# with open(r'../../data/Cluster_data/Private_MRT_cycle_routes.json', 'r') as f:
#     private_centroid_pair_route = json.load(f)

In [6]:
hdb_centroid_pair_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0.2        550 non-null    int64
 1   Unnamed: 0.1        550 non-null    int64
 2   Unnamed: 0          550 non-null    int64
 3   index               550 non-null    int64
 4   Latitude_x          550 non-null    float64
 5   Longitude_x         550 non-null    float64
 6   index_x             550 non-null    int64
 7   join_key            550 non-null    object
 8   MRT.Name            550 non-null    object
 9   Latitude_y          550 non-null    float64
 10  Longitude_y         550 non-null    float64
 11  index_y             550 non-null    int64
 12  euclidean_distance  550 non-null    float64
 13  coordinate_pair     550 non-null    object
 14  cycle_route         550 non-null    object
 15  bus_route           550 non-null    object
 16  distance            550 non-null    float64
 17  cycle_duration      550 non-null    float64
 18  bus_duration        550 non-null    float64
 19  time_difference     550 non-null    float64
 20  centroid_name       550 non-null    object
 21  suitability         546 non-null    float64
 22  steepness           546 non-null    float64
dtypes: float64(11), int64(6), object(6)
memory usage: 99.0+ KB

In [7]:
hdb_centroid_pair_df = hdb_centroid_pair_df.drop(hdb_centroid_pair_df.columns[:3], axis=1)

In [8]:
hdb_centroid_pair_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               550 non-null    int64
 1   Latitude_x          550 non-null    float64
 2   Longitude_x         550 non-null    float64
 3   index_x             550 non-null    int64
 4   join_key            550 non-null    object
 5   MRT.Name            550 non-null    object
 6   Latitude_y          550 non-null    float64
 7   Longitude_y         550 non-null    float64
 8   index_y             550 non-null    int64
 9   euclidean_distance  550 non-null    float64
 10  coordinate_pair     550 non-null    object
 11  cycle_route         550 non-null    object
 12  bus_route           550 non-null    object
 13  distance            550 non-null    float64
 14  cycle_duration      550 non-null    float64
 15  bus_duration        550 non-null    float64
 16  time_difference     550 non-null    float64
 17  centroid_name       550 non-null    object
 18  suitability         546 non-null    float64
 19  steepness           546 non-null    float64
dtypes: float64(11), int64(3), object(6)
memory usage: 86.1+ KB

In [9]:
private_centroid_pair_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0.1        550 non-null    int64
 1   Unnamed: 0          550 non-null    int64
 2   index               550 non-null    int64
 3   Latitude_x          550 non-null    float64
 4   Longitude_x         550 non-null    float64
 5   index_x             550 non-null    int64
 6   join_key            550 non-null    object
 7   MRT.Name            550 non-null    object
 8   Latitude_y          550 non-null    float64
 9   Longitude_y         550 non-null    float64
 10  index_y             550 non-null    int64
 11  euclidean_distance  550 non-null    float64
 12  coordinate_pair     550 non-null    object
 13  cycle_route         550 non-null    object
 14  bus_route           550 non-null    object
 15  distance            550 non-null    float64
 16  cycle_duration      550 non-null    float64
 17  bus_duration        550 non-null    float64
 18  time_difference     550 non-null    float64
 19  centroid_name       550 non-null    object
 20  suitability         546 non-null    float64
 21  steepness           546 non-null    float64
dtypes: float64(11), int64(5), object(6)
memory usage: 94.7+ KB

In [10]:
private_centroid_pair_df = private_centroid_pair_df.drop(private_centroid_pair_df.columns[:2], axis=1)

In [11]:
private_centroid_pair_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               550 non-null    int64
 1   Latitude_x          550 non-null    float64
 2   Longitude_x         550 non-null    float64
 3   index_x             550 non-null    int64
 4   join_key            550 non-null    object
 5   MRT.Name            550 non-null    object
 6   Latitude_y          550 non-null    float64
 7   Longitude_y         550 non-null    float64
 8   index_y             550 non-null    int64
 9   euclidean_distance  550 non-null    float64
 10  coordinate_pair     550 non-null    object
 11  cycle_route         550 non-null    object
 12  bus_route           550 non-null    object
 13  distance            550 non-null    float64
 14  cycle_duration      550 non-null    float64
 15  bus_duration        550 non-null    float64
 16  time_difference     550 non-null    float64
 17  centroid_name       550 non-null    object
 18  suitability         546 non-null    float64
 19  steepness           546 non-null    float64
dtypes: float64(11), int64(3), object(6)
memory usage: 86.1+ KB

In [12]:
combined_df = pd.concat([hdb_centroid_pair_df, private_centroid_pair_df], axis=0)

In [13]:
combined_df.shape

(1100, 20)

In [14]:
combined_df['steepness'] = abs(combined_df['steepness'])

combined_df['time_difference'] = -combined_df['time_difference'] #Reflect time savings as a positive number

In [15]:
def calculate_weighted_score(dataframe,row1,row2,row3,row4):
    S = row1 * dataframe["time_difference"] + row2 * dataframe["distance"] + row3 * dataframe["suitability"] + row4 * dataframe["steepness"]
    return S

In [16]:
#combined_df['Weighted_Score'] = calculate_weighted_score(combined_df, 0.4, -0.2, 0.8, -0.1)

In [17]:
combined_df.head(5)

,index,Latitude_x,Longitude_x,index_x,join_key,MRT.Name,Latitude_y,Longitude_y,index_y,euclidean_distance,coordinate_pair,cycle_route,bus_route,distance,cycle_duration,bus_duration,time_difference,centroid_name,suitability,steepness
0,81,1.416601,103.759368,0,A,KRANJI MRT STATION,1.425087,103.762137,51,0.992547,"coordinate_pair(lat_x=1.416601020587262, lon_x...",{'status_message': 'Found route between points...,[],2.957,18.483333,22.616667,4.133333,WOODLANDS PARK,5.825208,0.278474
1,251,1.323264,103.914492,1,A,KEMBANGAN MRT STATION,1.321038,103.912948,13,0.301187,"coordinate_pair(lat_x=1.3232635413132667, lon_...",{'status_message': 'Found route between points...,[],0.463,3.300000,5.733333,2.433333,56 JALAN SENYUM,7.448327,0.000000
2,415,1.321304,103.792035,2,A,HOLLAND VILLAGE MRT STATION,1.312240,103.796399,56,1.118509,"coordinate_pair(lat_x=1.3213040548093986, lon_...",{'status_message': 'Found route between points...,[],1.906,12.133333,28.000000,15.866667,63A JALAN LIM TAI SEE,7.200209,0.000000
3,614,1.347860,103.864701,3,A,LORONG CHUAN MRT STATION,1.351639,103.863946,135,0.428542,"coordinate_pair(lat_x=1.3478599940641125, lon_...",{'status_message': 'Found route between points...,[],1.236,8.066667,16.350000,8.283333,BRADDELL HEIGHTS ESTATE,7.543289,0.000000
4,787,1.380629,103.832771,4,A,LENTOR MRT STATION,1.385507,103.835744,153,0.635097,"coordinate_pair(lat_x=1.3806291442438563, lon_...",{'status_message': 'Found route between points...,[],0.873,5.266667,9.883333,4.616667,THOMSON HILLS ESTATE,6.760946,0.000000

In [18]:
agg_dict = {
    'time_difference': 'mean',
    'distance': 'mean',
    'steepness': 'mean',
    'suitability': 'mean'
}

df = combined_df.groupby('MRT.Name').agg(agg_dict)
df = df.reset_index()

df['Weighted_Score'] = calculate_weighted_score(df, 0.4, -0.2, 0.8, -0.1)

In [19]:
mrt_stations_df = pd.read_csv(r"..\data\mrt_station_final.csv",usecols = [1,2,3])
mrt_stations_df.sort_values(by='MRT.Name', inplace=True)

mrt_stations_df

                        MRT.Name  Latitude   Longitude
12         ADMIRALTY MRT STATION  1.440589  103.800990
9           ALJUNIED MRT STATION  1.316433  103.882906
52        ANG MO KIO MRT STATION  1.369429  103.849455
115            BAKAU LRT STATION  1.387994  103.905415
54           BANGKIT LRT STATION  1.380022  103.772647
..                           ...       ...         ...
158  WOODLANDS SOUTH MRT STATION  1.427488  103.792730
80         WOODLEIGH MRT STATION  1.339190  103.870818
77           YEW TEE MRT STATION  1.397298  103.747358
79      YIO CHU KANG MRT STATION  1.381499  103.845171
78            YISHUN MRT STATION  1.429443  103.835005

[175 rows x 3 columns]

In [20]:
mrt_stations_df = pd.merge(mrt_stations_df, df, left_on='MRT.Name',right_on = "MRT.Name",how = "left")

mrt_stations_df

,MRT.Name,Latitude,Longitude,time_difference,distance,steepness,suitability,Weighted_Score
0,ADMIRALTY MRT STATION,1.440589,103.800990,6.400000,0.830000,0.000000,7.741880,8.587504
1,ALJUNIED MRT STATION,1.316433,103.882906,3.566667,0.591000,0.000000,7.031273,6.933485
2,ANG MO KIO MRT STATION,1.369429,103.849455,9.616667,2.728600,0.230145,6.126446,8.179089
3,BAKAU LRT STATION,1.387994,103.905415,NaN,NaN,NaN,NaN,NaN
4,BANGKIT LRT STATION,1.380022,103.772647,2.033333,0.259000,0.000000,5.126621,4.862830
...,...,...,...,...,...,...,...,...
170,WOODLANDS SOUTH MRT STATION,1.427488,103.792730,11.925000,1.260500,0.000000,6.300757,9.558506
171,WOODLEIGH MRT STATION,1.339190,103.870818,7.341667,1.193500,0.000000,5.813293,7.348601
172,YEW TEE MRT STATION,1.397298,103.747358,6.033333,1.313000,0.333333,7.449843,8.077275
173,YIO CHU KANG MRT STATION,1.381499,103.845171,8.842857,4.641857,0.000000,6.238412,7.599501
174,YISHUN MRT STATION,1.429443,103.835005,7.616667,2.088250,0.000000,7.069956,8.284981

In [21]:
ranking = df.sort_values(by='Weighted_Score',ascending = False)
ranking = ranking.reset_index(drop = True)
ranking['rank'] = ranking.index

ranking

,MRT.Name,time_difference,distance,steepness,suitability,Weighted_Score,rank
0,CHANGI AIRPORT MRT STATION,123.233333,5.284000,0.000000,7.990277,54.628755,0
1,TANJONG PAGAR MRT STATION,38.794444,5.747333,0.000000,7.215724,20.140890,1
2,HARBOURFRONT MRT STATION,21.954762,3.852857,0.230629,6.561966,13.237843,2
3,KENT RIDGE MRT STATION,15.283333,2.337250,0.627952,7.215363,11.355379,3
4,KING ALBERT PARK MRT STATION,15.105556,1.511583,0.073491,6.495862,10.929246,4
...,...,...,...,...,...,...,...
119,BANGKIT LRT STATION,2.033333,0.259000,0.000000,5.126621,4.862830,119
120,KEAT HONG LRT STATION,-3.083333,1.156000,0.000000,7.553568,4.578321,120
121,TOA PAYOH MRT STATION,-7.441667,4.028000,0.000000,6.430390,1.362045,121
122,CLEMENTI MRT STATION,-9.192308,5.032462,0.000000,6.532113,0.542275,122
123,BOTANIC GARDENS MRT STATION,-16.787500,3.408875,0.088740,7.014832,-1.793784,123

In [22]:
ranking.to_csv("../../data/Cluster_data/mrt_ranking.csv", index = False)